body
{
	
 background-color: grey;
 margin-right:250px;
  margin-left:250px; 
  
}

 #h01
{
	background-color:lightgrey;
	font-size:50px;
	text-align:center;
	padding:25px;
	margin:0;
	

	

}
#container
{  
   min-width:700px; 
  
}
#nav
{   
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#nav li
{   
	float:left;
}
#nav li a
{   display:block;
    color:white;
	font-size:30px;
	font-weight:bold;
	padding:12px 12px;
	margin:0;
	text-align:center;
   text-decoration:none;
   list-style-type:none;
	
	

}
#nav li a:hover
{
	color:#555;
}

#empty img 
{   margin-top:10px;
	float:right;
	
	width:30%;
	height:125%;
	color:white; 
	border-style:solid;
	border-width:10px;
	border-color:#333;
	font-size:45px;

}
#empty2 img
{
	 margin-top:10px;
	float:right;
	
	width:20%;
	height:200%;
	color:white; 
	border-style:solid;
	border-width:10px;
	border-color:#333;
	font-size:45px;
}
#introflash 
{   line-height:1.5;
	color:white;
	float:center;
	margin:2px;
	vertical-align:middle;
	position:relative;
}
#introbb 

{   line-height:1.5;
    float:center;
    
    
	display:inline-block;
	color:white;
	
	margin:2px;
}
#watchflash
{   border:none;
	
    background-color: #4CAF51; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:12px;
    font-weight:bold;
}
#watchsherlock
{   border:none;
	
    background-color: #4CAF51; /* Green */
    
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:12px;
    font-weight:bold;
}

#watchflash:hover
{
	color:#555;
}
#watchsherlock:hover
{
	color:#555;
}
#flashgif

{   margin:250px;

   float:right;
	width:45px;
	height:75px;
}
#bbgif
{   float:right;
	position:relative;
	
}
#footer
{
background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    float:bottom;
}
#newid1
{   margin:60px;
	background-color:black;
	color:white;
	line-height:1.5;
	text-align:center;
}
#newid3
{   margin:60px;
	background-color:black;
	color:white;
	line-height:1.5;
	text-align:center;
}
#newid2
{   margin:60px;
	background-color:black;
	color:white;
	line-height:1.5;
	text-align:center;
}
#flashlinks a
{   list-style-type:none;
	font-size:20px;
	left:+400px;
	text-decoration:none;
	color:black;
	line-height:2;

}
#flashlinks a:hover
{
	color:lightgrey;
}
#fancy
{
	float:center;
}


